@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Base styling */
.drip-section {
  -webkit-filter: contrast(5);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(5);
  // filter: contrast(5);
  background-color: $bcc;
  width: 100vw;
  // height: 100vh;
  overflow: hidden;
}

/* Black Drip */
.drip-container-black {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 655px;
  min-width: 655px;
  height: 300px;
  min-height: 300px;
}
.drip-container-black h1 {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-text-stroke: 0.1vw rgb(255, 255, 255);
  color: $drip_accent;
  font-size: 250px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0.5rem 0.5rem 0rem rgb(21, 0, 0);
  text-transform: uppercase;
}

.drip-one-black {
  -webkit-filter: blur(5px);
  position: absolute;
  top: 210px;
  left: -15px;
  filter: blur(5px);
  animation-duration: 2500ms;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: dripOneB;
  border-radius: 50%;
  background-color: $drip_accent;
  width: 0px;
  height: 0px;
}

@keyframes dripOneB {
  0% {
    top: 200px;
    width: 0px;
    height: 0px;
  }
  10% {
    width: 40px;
    height: 50px;
  }
  40% {
    width: 40px;
    height: 50px;
  }
  50% {
    top: 225px;
    width: 40px;
    height: 50px;
  }
  100% {
    top: 1000px;
    width: 40px;
    height: 50px;
  }
}

.drip-two-black {
  -webkit-filter: blur(5px);
  position: absolute;
  top: 50%;
  left: 120px;
  filter: blur(5px);
  animation-duration: 5000ms;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: dripTwoB;
  border-radius: 50%;
  background-color: $drip_accent;
  width: 0px;
  height: 0px;
}
@keyframes dripTwoB {
  0% {
    top: 65px;
    width: 0px;
    height: 0px;
  }
  15% {
    width: 50px;
    height: 60px;
  }
  50% {
    top: 225px;
    width: 50px;
    height: 60px;
  }
  100% {
    top: 1000px;
    width: 50px;
    height: 60px;
  }
}

.drip-three-black {
  -webkit-filter: blur(5px);
  position: absolute;
  top: 50%;
  left: 300px;
  filter: blur(5px);
  animation-duration: 2500ms;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: dripTwoB;
  border-radius: 50%;
  background-color: $drip_accent;
  width: 0px;
  height: 0px;
}
@keyframes dripThreeB {
  0% {
    top: 65px;
    width: 0px;
    height: 0px;
  }
  15% {
    width: 50px;
    height: 60px;
  }
  50% {
    top: 225px;
    width: 50px;
    height: 60px;
  }
  100% {
    top: 1000px;
    width: 50px;
    height: 60px;
  }
}
.drip-four-black {
  -webkit-filter: blur(5px);
  position: absolute;
  top: 100px;
  left: 460px;
  filter: blur(5px);
  animation-duration: 2500ms;
  animation-timing-function: ease;
  animation-delay: 250ms;
  animation-iteration-count: infinite;
  animation-name: dripFourB;
  border-radius: 50%;
  background-color: $drip_accent;
  width: 0px;
  height: 0px;
}
@keyframes dripFourB {
  0% {
    top: 65px;
    width: 0px;
    height: 0px;
  }
  15% {
    width: 50px;
    height: 60px;
  }
  50% {
    top: 225px;
    width: 50px;
    height: 60px;
  }
  100% {
    top: 1000px;
    width: 50px;
    height: 60px;
  }
}

.drip-five-black {
  -webkit-filter: blur(5px);
  position: absolute;
  top: 100px;
  left: 530px;
  filter: blur(5px);
  animation-duration: 5000ms;
  animation-timing-function: ease;
  animation-delay: 250ms;
  animation-iteration-count: infinite;
  animation-name: dripFiveB;
  border-radius: 50%;
  background-color: $drip_accent;
  width: 0px;
  height: 0px;
}
@keyframes dripFiveB {
  0% {
    top: 65px;
    left: 550px;
    width: 0px;
    height: 0px;
  }
  15% {
    left: 530px;
    width: 50px;
    height: 60px;
  }
  50% {
    top: 220px;
    left: 535px;
    width: 50px;
    height: 60px;
  }
  100% {
    top: 1000px;
    width: 50px;
    height: 60px;
  }
}

.drip-six-black {
  -webkit-filter: blur(5px);
  position: absolute;
  top: 100px;
  left: 610px;
  filter: blur(5px);
  animation-duration: 3500ms;
  animation-timing-function: ease;
  animation-delay: 250ms;
  animation-iteration-count: infinite;
  animation-name: dripSixB;
  border-radius: 50%;
  background-color: $drip_accent;
  width: 0px;
  height: 0px;
}
@keyframes dripSixB {
  0% {
    top: 60px;
    width: 0px;
    height: 0px;
  }
  15% {
    width: 50px;
    height: 60px;
  }
  50% {
    top: 225px;
    width: 50px;
    height: 60px;
  }
  100% {
    top: 1000px;
    width: 50px;
    height: 60px;
  }
}
