@import "./variables";
@import "./components/display";

@import "./nav";
@import "./header";
@import "./slide_show";
* {
  margin: 0;
  padding: 0;
}

body {
    & {
        margin: 1vw;
    }
  main {
  }
}
