.profile_picture {
  border-radius: 50%;
}

#audio_player {
  background: linear-gradient(rgb(30, 30, 60), rgb(0, 0, 30));
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#audio_player > * {
  height: 30px;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 0.5rem;
  height: 100%;
}
main #left {
  display: grid;
  grid-template-rows: 2fr 10fr 1fr;
  gap: 0.5rem;
}
main #left #quick_info {
  background: linear-gradient(rgb(30, 30, 60), rgb(0, 0, 30));
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
main #right {
  background: linear-gradient(rgb(30, 30, 60), rgb(0, 0, 30));
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
main #right #albums {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  padding: 1.5rem;
}
main #right h2 {
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}
main #right .album {
  position: relative;
  transition: 150ms;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 150px;
}
main #right .album .visualizer {
  display: hidden;
  bottom: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  position: absolute;
  gap: 5px;
}
main #right .album .visualizer .bar {
  border-radius: 1000px;
  opacity: 0%;
  animation: bounce 1s infinite;
  box-shadow: 0 0rem 3px rgb(0, 0, 0);
  background-color: #e1e1e1;
  width: 3px;
  height: 10px;
}
main #right .album .visualizer .bar:nth-child(2) {
  animation-delay: 0.1s;
}
main #right .album .visualizer .bar:nth-child(3) {
  animation-delay: 0.2s;
}
main #right .album .visualizer .bar:nth-child(4) {
  animation-delay: 0.3s;
}
main #right .album .visualizer .bar:nth-child(5) {
  animation-delay: 0.4s;
}
@keyframes bounce {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
}
main #right .album .playlist_add {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 30px;
}
main #right .album .playlist_add img {
  width: 100%;
  height: auto;
}
main #right .album figure {
  width: 100px;
  height: 100px;
}
main #right .album img {
  width: auto;
  height: 100%;
  overflow-x: hidden;
  border-radius: 10px;
}
main #right .album figcaption {
  font-size: 1rem;
  text-align: center;
}
main #right .album:hover {
  scale: 1.1;
  transition: 150ms;
}
main #right .album:hover .bar {
  opacity: 100%;
  transition: 150ms;
}
main #right .album:hover img {
  box-shadow: 0 0.5rem 0.3rem black;
}
main #right .album:hover figcaption {
  text-shadow: 0 1rem 0 rgb(0, 0, 0);
}

header {
  background: linear-gradient(rgb(30, 30, 60), rgb(0, 0, 30));
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space_around;
  margin-bottom: 0.5rem;
  align-items: center;
}
header > * {
  margin: 0.5rem;
}
header #search_bar_container {
  position: relative;
  height: 25px;
}
header #search_bar_container img {
  position: absolute;
  right: -10px;
  bottom: -3px;
}
header #search_bar_container #search_bar {
  color: #e1e1e1;
  padding: 1px 0 1px 10px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: #000000;
}
header .profile_picture {
  border-radius: 50%;
  width: auto;
  height: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0.5rem;
  background: linear-gradient(#010101, #010101, #010101, #0d4c5f);
  background-color: #000000;
  height: 97vh;
  overflow: hidden;
  color: #e1e1e1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}/*# sourceMappingURL=stylesheet.css.map */