@import "./variables";
@import "./mixins";

@import "./scroll_bar";
@import "./profile_picture";
@import "./audio_player";
@import "./main";
@import "./nav";
@import "./header";
@import "./slide_show";
* {
  margin: 0;
  padding: 0;
}

body {
  & {
    position: relative;
    margin: $gap;
    background: linear-gradient(#010101, #010101, #010101, #0d4c5f);
    background-color: $bcc;
    height: 97vh;
    overflow: hidden;
    color: $text;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
